<div class="container">
      <div class="row">
         <div class = "row">
          <div class = "col-md-6" >
              <h1>作品一覧</h1>
          </div>
          <div class = "col-md-6" >
              <td><%= link_to "＋", new_work_path, class:"btn btn-primary rounded-circle "%></td>
          </div>
              <table class = "table table-bordered">
                   <thead>
                       <tr>
                           
                           <th>作品名</th>
                           <th>公開日</th>
                           <th>あらすじ</th>
                           <th>ジャンル</th>
                           <th>タグ</th>
                       </tr>
                 </thead>
                 <tbody>
                     <% @works.each do |work| %>
                     <tr class="work-box">
                         
                         <td><%= work.image %><br><%= link_to work.name, work_path(work.id)%></td>
                         <td><%= work.release_date %></td>
                         <td><%= work.synopsis %></td>
                         <td><%= work.genre.name %></td>
                         <% work.tags.each do |list| %>
                         <td><%= list.name %></td>
                         <% end %>
                         
                     </tr>
                     <% end %>
                  </tbody>
              </table>


                 <%= paginate @works, theme: 'twitter-bootstrap-4' %>



      </div>
 </div>