<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ジャンル別ランキング検索</th>
          </tr>
        </thead>
        <tbody>
          <% @genres.each do |genre| %>
            <tr class="genre-box">
              <td><%= link_to genre.name+"評価順", works_ranking_path("ジャンル別評価順", genre_id: genre.id) %></td>
            </tr>
            <tr class="genre-box">
              <td><%= link_to genre.name+"評価数順", works_ranking_path("ジャンル別評価数順", genre_id: genre.id) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-md-8 offset-md-1">
      <h1>ランキング</h1>
      <div class = "row">
        <% @reviews.each.with_index(1) do |review,i| %>
          <div class = "work col-md-3" >
            <%= link_to work_path(review.work_id) do %>
              <%= attachment_image_tag review.work, :image, size: '100x100', format: 'jpeg', class:"attachment image fallback" %>
            <% end %><br>
            第<%= i  %>位<br>
            <%= link_to review.work.name, work_path(review.work_id) %>
          </div>
        <% end %>
      </div>
    </div>
    <%= link_to "作品を投稿", new_work_path %>
  </div>
</div>


