<div class="container">
    <div class="row">
        <div class="col-md-4">
            <%= attachment_image_tag @work, :image, size: '350x350', format: 'jpeg', class:"attachment image fallback" %>
        </div>
        <div class="col-md-8 ">
            <h2>作品詳細</h2>
            <table class="table table-hover table-inverse">
                <tbody>
                    <tr class="work-box">
                        <td>作品名</td>
                        <td><%= @work.name %></td>
                    </tr>
                    
                    <tr class="work-box">
                        <td>公開日</td>
                        <td><%= @work.release_date %></td>
                    </tr>
                     
                    <tr class="work-box">
                        <td>あらすじ</td>
                        <td><%= @work.synopsis %></td>
                    </tr>
                     
                    <tr class="work-box">
                        <td>ジャンル</td>
                        <td><%= @work.genre.name %></td>
                    </tr>
                     
                    <tr class="work-box">
                        <td>タグ</td>
                        <% @work.tags.each do |list| %>
                            <td><%= list.name %></td>
                        <% end %>
                    </tr>
                    <% if @work.customer.id == current_customer.id %>
                        <td><%= link_to "編集する", edit_work_path(@work.id), class:"btn btn-sm btn-success" %></td>
                    <% end %>
                    
                    <% if @work.customer.id == current_customer.id %>
                        <td><%= link_to "削除する", work_path(@work.id), method: :delete,data: {confirm: "削除しますか？"}, class:"btn btn-sm btn-danger" %></td>
                    <% end %>
                </tbody>
            </table>
            <div class = "row">
                <div class = "col-md-3" >
                    <%= link_to "レビューする", new_work_review_path(@work.id), class:"btn btn-sm btn-success" %>
                </div>
                <div class = "col-md-3" >
                    <%= link_to "レビュー一覧", work_reviews_path(@work.id), class:"btn btn-sm btn-success" %>
                </div>
            </div>
            <div class = "row">
                <div class = "col-md-3" >
                    <div class='star-btn' id="favorite_<%= @work.id %>">
                        <%= render "public/favorites/favorite", work: @work %>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
