<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-8 ">
            <div>
                フォロー数： <%= current_customer.follower.count %>
                フォロワー数：<%= current_customer.followed.count %>
            </div><br>

            <h5>フォロー中</h5>
            <div class = "row">
                <% @following_customers.each do |following_customer| %>
                    <div class = "room col-md-3" >
                        <%= link_to customer_path(following_customer.id) do %>
                        <%= attachment_image_tag following_customer, :image, size: '100x100', format: 'jpeg', class:"attachment image fallback" %><br>
                        <%= link_to following_customer.nicname, customer_path(following_customer.id) %>
                        <% end %>
                    </div>
                <% end %>
            </div><br>

            <h5>フォロワー</h5>
            <div class = "row">
                <% @follower_customers.each do |follower_customer| %>
                    <div class = "room col-md-3" >
                        <%= link_to customer_path(follower_customer.id) do %>
                        <%= attachment_image_tag follower_customer, :image, size: '100x100', format: 'jpeg', class:"attachment image fallback" %><br>
                        <%= link_to follower_customer.nicname, customer_path(follower_customer.id) %>
                        <% end %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>