<div class = "container">
    <h2><%= @customer.nicname %>さんの会員詳細</h2>
    <table class="table table-hover table-inverse">
        <tbody>
            <tr class="customer-box">
                <td>会員</td>
                <td><%= @customer.id %></td>
            </tr>
            
            <tr>
                <td>ニックネーム</td>
                <td>
                  <%= @customer.nicname %><br>
                  <%= attachment_image_tag @customer, :image, size: '100x100', format: 'jpeg', class:"attachment image fallback" %>
                </td>
            </tr>
            
            <tr>
                <td>性別</td>
                <td><%= @customer.gender_i18n %></td>
            </tr>
            
            <tr>
                <td>都道府県</td>
                <td><%= @customer.prefectures %></td>
            </tr>
            
            <tr>
                <td>メールアドレス</td>
                <td><%= @customer.email %></td>
            </tr>
            
            <tr>
                <td>自己紹介</td>
                <td><%= @customer.introduction %></td>
            </tr>
            <tr>
                <td>会員ステータス</td>
                <% if @customer.is_active == true %>
                    <td><%= "有効" %></td>
                <% else %>
                   <td><%= "退会" %></td>
                <% end %>
            </tr>
        </tbody>
    </table>
    <%= link_to "編集する", edit_admin_customer_path, class:"btn btn-sm btn-success" %>
 </div>
