<div class="container">
    <div class="row">
        <div class="col-md-4">
            <%= attachment_image_tag @work, :image, size: '350x350', format: 'jpeg', class:"attachment image fallback" %>
        </div>
        <div class="col-md-8 ">
            <h2>レビュー</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>作品名</th>
                        <th>平均点</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tag-box">
                        <td><%= @work.name %></td>
                        <td><%= @rate_ave %></td>
                        <td id="star-rate-ave"></td>
                        <script>
                            $("#star-rate-ave").empty();
                                $("#star-rate-ave").raty({
                                    size: 36,
                                    starOff:  "<%= asset_path 'star-off.png' %>",
                                    starOn: "<%= asset_path('star-on.png') %>",
                                    starHalf: "<%= asset_path('star-half.png') %>",
                                    half: true,
                                    readOnly: true,
                                    score: "<%= @rate_ave %>",
                                })
                            
                        </script>
                    </tr>
                </tbody>
            </table>
            
           
            
            <div class = "row">
                <table class="table table-hover table-inverse">
                    <tbody>
                        <% @reviews.each do |review| %>
                        <tr class="review-box">
                            <% if review.customer.id == current_customer.id %>
                                <td><%= link_to review.customer.nicname, customers_my_page_path %></td>
                            <% else %>
                                <td><%= link_to review.customer.nicname, customer_path(review.customer.id) %></td>
                            <% end %>
                            <td id="star-rate-<%= review.id %>"></td>
                            <td><%= review.thoughts %></td>
                            <td><%= link_to "コメントする", work_review_path(@work.id, review.id), class:"btn btn-sm btn-success" %></td>
                            <% if review.customer.id == current_customer.id %>
                                <td><%= link_to "削除する", work_review_path(@work.id, review.id), method: :delete,data: {confirm: "削除しますか？"},class:"btn btn-sm btn-danger" %></td>
                            <% end %>
                            <script>
                                $("#star-rate-<%= review.id %>").empty();
                                    $("#star-rate-<%= review.id %>").raty({
                                        size: 36,
                                        starOff:  "<%= asset_path 'star-off.png' %>",
                                        starOn: "<%= asset_path('star-on.png') %>",
                                        starHalf: "<%= asset_path('star-half.png') %>",
                                        half: true,
                                        readOnly: true,
                                        score: "<%= review.rate %>",
                                    })
                                
                            </script>
                        <% end %>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class = "row">
                <div class = "col-md-5" >
                    <%= link_to "レビューする", new_work_review_path(@work.id), class:"btn btn-sm btn-success" %>
                </div>
            </div>
        </div>
    </div>
 </div>
 