<div class="row">
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
        <h1>レビュー投稿</h1>
        <%= form_with model: @review,url: work_reviews_path(@work.id), local:true do |f| %>
        <table>
          
          <div class="form-group">
            <label for="thoughts_date">感想</label>
            <%= f.text_field :thoughts, class:"form-control thoughts" %>
          </div>
          
          <div class="form-group">
            <label for="rate">評価</label>
            <div id="star"></div>
            
          </div>
          
          <div class="form-group">
            <%= f.submit "新規登録", class:"btn btn-secondary" %>
          </div>
        </table>
        <% end %>
      </div>
   </div>
   
 </div>
<script>
 $('#star').raty({
   size: 36,
   starOff:  "<%= asset_path 'star-off.png' %>",
   starOn: "<%= asset_path('star-on.png') %>",
   starHalf: "<%= asset_path('star-half.png') %>",
   scoreName: 'review[rate]', 
   half: true, 
 });
 </script>